ul {
  list-style: none;
}

.currencies-container {
  width: 80%;
  margin: auto;
  margin-top: -10rem;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currencies-table {
  width: 100%;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 15px -3px;
}

.table-head {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-page {
  margin: 1.5rem 0;
}

@media screen and (max-width: 1000px) {
  .currencies-container {
    width: 90%;
  }
  .currency-type:nth-child(5) {
    display: none;
  }
  .currency-type:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .currencies-container {
    width: 100%;
  }
  .currency-type:nth-child(4) {
    display: none;
  }
  .currency-type:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .currencies-container {
    margin-top: -12rem;
  }
}
