.currency-card {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.currency-type {
  text-align: center;
  font-size: 0.95rem;
}

.currency-name-img {
  display: flex;
  align-items: center;
  gap: 2px;
}

.currency-img {
  height: 30px;
  width: 30px;
}

.currency-name span {
  display: block;
  text-align: left;
}
